# Ignore virtual environment
venv/

# Ignore machine learning models (if they are large)
nlp_town_model/
Saved_model1/
SVC_pipeline/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore dataset files (if any)
*.csv
*.tsv
*.json

# Ignore large log files and temporary files
logs/
*.log
*.tmp
